<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Global>

    <!-- Levels are: Off, Critical, Warning, Error, Info, Verbose, Debug. Loglevel means written to EventLog, ConsoleLevel means viewable in Console-->
    <LogLevel>Warning</LogLevel>
    
    <!-- how many lines of console output will be provided by the wcf service (max). This is used by the EvlConsole to query the latest output-->
    <ConsoleBacklog>1000</ConsoleBacklog>
    <!-- this is the interval the log files are checked, in seconds-->
    <CheckInterval>30</CheckInterval>

    <!-- this is the whitelist. ips matching this pattern will never get banned, not temporarily and not permanently-->
    <WhiteList>192.168.*;10.0.0.*;127.0.0.1;</WhiteList>
    <!-- this is the list of permanently banned ips. (blacklist) - those bans will never get lifted automatically-->
    <Banlist></Banlist>
  </Global>

  <!-- OK, so here are all rules i know, some work on specific servers, some don't. All rules add up and should keep common windows systems safe from RDP-Bruters.
  If you want to contribute, this here is the most important section. Also, a correlation method between different event log entries is planned in future versions.-->
  <Tasks>
    <Task Name="BlockRDPBrutersBySecurity4625" Active="true">

      <!-- the description ..-->
      <Description>
        This rule checks the security Log for failed attempts
      </Description>

      <!-- this is the time a temporary ban is issued for, in seconds-->
      <LockTime>
        3600
      </LockTime>

      <!-- this is used for rules that only need new events for evaluating. If you dont know what this does, leave it set to false-->
      <OnlyNew>
        False
      </OnlyNew>

      <!-- this is the timeframe (in seconds) to be inspected-->
      <EventAge>
        120
      </EventAge>

      <!-- this is the amount of times an entry must occur within the time frame to be considered a brute force attempt-->
      <TriggerCount>
        5
      </TriggerCount>

      <!-- after this amount of times temporarily banned, the ban will become permanent -->
      <PermaBanCount>
        3
      </PermaBanCount>

      <!-- This is the place where the rule looks for entries, separated by comma-->
      <EventPath>
        Security
      </EventPath>

      <!-- This was introduced because sole regex matching is too CPU intensive. it incredibly speeds up the filtering when you enter some (or at least one) words that MUST be contained in the LogEntry to undergo the regex inspection-->
      <RegexBoosters>
        <Booster>4625</Booster>
        <Booster>IpAddress</Booster>
      </RegexBoosters>

      <!-- This is the regex that tries to extract an IP from the entries that contain the booster words, for testing use regex101.com-->
      <Regex>
        &lt;Data Name=.IpAddress.&gt;(\d*.\d*.\d*.\d*)
      </Regex>

    </Task>
    <Task Name="BlockRDPBrutersByRdpCore140" Active="true">

      <!-- the description ..-->
      <Description>
        This rule checks the RdpCoreTS/Operational Log for failed login attempts
        This only tackles login attempts where the user does not exist (existing users do not trigger 140.. why? no one knows)
      </Description>

      <!-- this is the time a temporary ban is issued for, in seconds-->
      <LockTime>
        3600
      </LockTime>

      <!-- this is used for rules that only need new events for evaluating. If you dont know what this does, leave it set to false-->
      <OnlyNew>
        False
      </OnlyNew>

      <!-- this is the timeframe (in seconds) to be inspected-->
      <EventAge>
        120
      </EventAge>

      <!-- this is the amount of times an entry must occure within the time frame to be considered a brute force attempt-->
      <TriggerCount>
        5
      </TriggerCount>

      <!-- after this amount of times temporarily banned, the ban will become permanent -->
      <PermaBanCount>
        3
      </PermaBanCount>

      <!-- This is the place where the rule looks for entries-->
      <EventPath>
        Microsoft-Windows-RemoteDesktopServices-RdpCoreTS/Operational
      </EventPath>

      <!-- This was introduced because sole regex matching is too CPU intensive. it incredibly speeds up the filtering when you enter some (or at least one) words that MUST be contained in the LogEntry to undergo the regex inspection-->
      <RegexBoosters>
        <Booster>140</Booster>
        <Booster>IPString</Booster>
      </RegexBoosters>

      <!-- This is the regex that tries to extract an IP from the entries that contain the booster words for more infos see regex101.com-->
      <Regex>
        .*.*EventID.140.*&lt;Data Name=.IPString.&gt;(\d*.\d*.\d*.\d*).*&lt;\/Data&gt;
      </Regex>
    </Task>
    <Task Name="BlockRDPBrutersByRdpCore131" Active="true">
      
        <!-- the description ..-->
        <Description>
          This rule checks the RdpCoreTS/Operational Log for any opening connections. It is not perfect, as it will count failed AND successful connections, but this works ok in normal day life
          This is necessary because login attempts with an existing user are NOT logged in the 140 event by Microsoft for some reasons.
        </Description>

        <!-- this is the time a temporary ban is issued for, in seconds-->
        <LockTime>
          3600
        </LockTime>

        <!-- this is used for rules that only need new events for evaluating. If you dont know what this does, leave it set to false-->
        <OnlyNew>
          False
        </OnlyNew>

        <!-- this is the timeframe (in seconds) to be inspected-->
        <EventAge>
          120
        </EventAge>

        <!-- this is the amount of times an entry must occure within the time frame to be considered a brute force attempt-->
        <TriggerCount>
          5
        </TriggerCount>

        <!-- after this amount of times temporarily banned, the ban will become permanent -->
        <PermaBanCount>
          3
        </PermaBanCount>

        <!-- This is the place where the rule looks for entries-->
        <EventPath>
          Microsoft-Windows-RemoteDesktopServices-RdpCoreTS/Operational
        </EventPath>

        <!-- This was introduced because sole regex matching is too CPU intensive. it incredibly speeds up the filtering when you enter some (or at least one) words that MUST be contained in the LogEntry to undergo the regex inspection-->
        <RegexBoosters>
          <Booster>131</Booster>
          <Booster>ClientIP</Booster>
        </RegexBoosters>

        <!-- This is the regex that tries to extract an IP from the entries that contain the booster words for more infos see regex101.com-->
        <Regex>
          .*.*EventID.131.*&lt;Data Name=.ClientIP.&gt;(\d*.\d*.\d*.\d*).*&lt;\/Data&gt;
        </Regex>

    </Task>
  </Tasks>
</Config>