################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/Source/EvlWatcher/.vs
/Source/EvlWatcher/EvlWatcher/obj/x86
/Source/EvlWatcherConsole/EvlWatcherConsole/obj/x86
/Source/EvlWatcher/EvlWatcher/bin/Debug
*.user
/Source/EvlWatcherConsole/EvlWatcherConsole/bin/Debug
/Source/EvlWatcher/EvlWatcher/bin/Release
/Source/EvlWatcher/EvlWatcher.WCF/bin/Debug
/Source/EvlWatcher/EvlWatcher.WCF/obj
/Source/EvlWatcherConsole/EvlWatcherConsole/bin/Release
/Source/EvlWatcher/EvlWatcher.WCF/bin/Release
/Source/EvlWatcherConsole/.vs
