################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/Source/EvlWatcher/.vs/EvlWatcher/v15/Server/sqlite3
/Source/EvlWatcher/EvlWatcher/obj/x86
/Source/EvlWatcherConsole/EvlWatcherConsole/obj/x86
/Source/EvlWatcher/EvlWatcher/bin/Debug
*.user
/Source/EvlWatcherConsole/EvlWatcherConsole/bin/Debug
