################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
*.user

/Source/EvlWatcher/.vs
/Source/EvlWatcherConsole/.vs

/Source/EvlWatcher/EvlWatcher/obj/
/Source/EvlWatcher/EvlWatcher/bin/

/Source/EvlWatcher/EvlWatcher.Tests.Integration/bin/
/Source/EvlWatcher/EvlWatcher.Tests.Integration/obj/

/Source/EvlWatcherConsole/EvlWatcherConsole/bin/
/Source/EvlWatcherConsole/EvlWatcherConsole/obj/

/Source/EvlWatcher/EvlWatcher.WCF/bin/
/Source/EvlWatcher/EvlWatcher.WCF/obj



