<?xml version="1.0" encoding="utf-8"?>
<Config>
  
  <!-- LogLevels are: Critical, Warning, Error, Info, Debug-->
  <LogLevel>Debug</LogLevel>
  
  <!-- this is the interval the log files are checked, in seconds-->
  <CheckInterval>30</CheckInterval>
  
  <!--Global Constants-->
  <GLOBAL>
    <WhiteList>192.168.*;10.0.0.*;127.0.0.1;</WhiteList>
    <Banlist></Banlist>
  </GLOBAL>

  <!-- OK, so here are all rules i know, some work on specific servers, some don't. All rules add up and should keep common windows systems safe from RDP-Bruters.
  If you want to contribute, this here is the most important section. Also, a correlation method between different event logs is planned in future versions.-->

  <BlockRDPBrutersBySecurity4625>
      <!-- the description ..-->
    <Description>
      This rule checks the security Log for failed attempts
    </Description>

    <!-- this is the time a temporary ban is issued for, in seconds-->
    <LockTime>
      3600
    </LockTime>

    <!-- this is used for rules that only need new events for evaluating. If you dont know what this does, leave it set to false-->
    <OnlyNew>
      False
    </OnlyNew>

    <!-- this is the timeframe (in seconds) to be inspected-->
    <EventAge>
      120
    </EventAge>

    <!-- this is the amount of times an entry must occur within the time frame to be considered a brute force attempt-->
    <TriggerCount>
      5
    </TriggerCount>

    <!-- after this amount of times temporarily banned, the ban will become permanent -->
    <PermaBanCount>
      3
    </PermaBanCount>

    <!-- This is the place where the rule looks for entries-->
    <EventPath>
      Security
    </EventPath>

    <!-- This was introduced because sole regex matching is too CPU intensive. it incredibly speeds up the filtering when you enter some (or at least one) words that MUST be contained in the LogEntry to undergo the regex inspection-->
    <RegexBoosters>
      <Booster>4625</Booster>
      <Booster>IpAddress</Booster>
    </RegexBoosters>

    <!-- This is the regex that tries to extract an IP from the entries that contain the booster words, for testing use regex101.com-->
    <Regex>
      .*.*EventID.4625.*&lt;Data Name=.IpAddress.&gt;(\d*.\d*.\d*.\d*).*&lt;\/Data&gt;
    </Regex>
  </BlockRDPBrutersBySecurity4625>
    
  <BlockRDPBrutersByRdpCore140>
    <!-- the description ..-->
    <Description>
      This rule checks the RdpCoreTS/Operational Log for failed login attempts 
      This only tackles login attempts where the user does not exist (existing users do not trigger 140.. why? no one knows) 
    </Description>

    <!-- this is the time a temporary ban is issued for, in seconds-->
    <LockTime>
      3600
    </LockTime>

    <!-- this is used for rules that only need new events for evaluating. If you dont know what this does, leave it set to false-->
    <OnlyNew>
      False
    </OnlyNew>

    <!-- this is the timeframe (in seconds) to be inspected-->
    <EventAge>
      120
    </EventAge>

    <!-- this is the amount of times an entry must occure within the time frame to be considered a brute force attempt-->
    <TriggerCount>
      5
    </TriggerCount>

    <!-- after this amount of times temporarily banned, the ban will become permanent -->
    <PermaBanCount>
      3
    </PermaBanCount>

    <!-- This is the place where the rule looks for entries-->
    <EventPath>
      Microsoft-Windows-RemoteDesktopServices-RdpCoreTS/Operational
    </EventPath>

    <!-- This was introduced because sole regex matching is too CPU intensive. it incredibly speeds up the filtering when you enter some (or at least one) words that MUST be contained in the LogEntry to undergo the regex inspection-->
    <RegexBoosters>
      <Booster>140</Booster>
      <Booster>IPString</Booster>
    </RegexBoosters>

    <!-- This is the regex that tries to extract an IP from the entries that contain the booster words for more infos see regex101.com-->
    <Regex>
      .*.*EventID.140.*&lt;Data Name=.IPString.&gt;(\d*.\d*.\d*.\d*).*&lt;\/Data&gt;
    </Regex>
  </BlockRDPBrutersByRdpCore140>

  <BlockRDPBrutersByRdpCore131>
    <!-- the description ..-->
    <Description>
      This rule checks the RdpCoreTS/Operational Log for any opening connections. It is not perfect, as it will count failed AND successful connections, but this works ok in normal day life
      This is necessary because login attempts with an existing user are NOT logged in the 140 event by Microsoft for some reasons.
    </Description>

    <!-- this is the time a temporary ban is issued for, in seconds-->
    <LockTime>
      3600
    </LockTime>

    <!-- this is used for rules that only need new events for evaluating. If you dont know what this does, leave it set to false-->
    <OnlyNew>
      False
    </OnlyNew>

    <!-- this is the timeframe (in seconds) to be inspected-->  
    <EventAge>
      120
    </EventAge>
    
    <!-- this is the amount of times an entry must occure within the time frame to be considered a brute force attempt-->
    <TriggerCount>
      5
    </TriggerCount>

    <!-- after this amount of times temporarily banned, the ban will become permanent -->
    <PermaBanCount>
      3
    </PermaBanCount>
    
    <!-- This is the place where the rule looks for entries-->
    <EventPath>
      Microsoft-Windows-RemoteDesktopServices-RdpCoreTS/Operational
    </EventPath>

    <!-- This was introduced because sole regex matching is too CPU intensive. it incredibly speeds up the filtering when you enter some (or at least one) words that MUST be contained in the LogEntry to undergo the regex inspection-->
    <RegexBoosters>
      <Booster>131</Booster>
      <Booster>ClientIP</Booster>
    </RegexBoosters>
    
    <!-- This is the regex that tries to extract an IP from the entries that contain the booster words for more infos see regex101.com-->
    <Regex>
      .*.*EventID.131.*&lt;Data Name=.ClientIP.&gt;(\d*.\d*.\d*.\d*).*&lt;\/Data&gt;
    </Regex>
  </BlockRDPBrutersByRdpCore131>
  
  <!-- this is the list of generic rules to be loaded-->
  <GenericTaskLoader>
    <Load>BlockRDPBrutersBySecurity4625</Load>
    <Load>BlockRDPBrutersByRdpCore131</Load>
    <Load>BlockRDPBrutersByRdpCore140</Load>
  </GenericTaskLoader>
  
</Config>